p{
    margin: 10px 0;
}

img{
    width: 100%;
}
.team{
    color: white;
    background-color: var(--color-light-grey);
}
.heading{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: var(--grey-color);
    
}

.profile .profile-img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
    filter: grayscale(100%);
    cursor: pointer;
    transition: 400ms;
}
.user-name{
    margin-top: 30px;
    font-size: 2.5rem;
}
.designation{
    font-size: 1.8rem;
}

.card p{
    font-size: 1.5rem;
    text-transform: none;
}


/*Tablets Media query*/

@media(max-width:768px){

    .grid,
    .team .grid,
    .footer .grid{
        
        grid-template-columns: 1fr;
    }


}