@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root {
    --primary: #27ae60;
    --dark: #192a56;
    --light: #666;
    --white: #fff;
    --black: #000000;
    --icons-bg: #eee;
    --box-shadow: 0 0.5rem rgba(0, 0, 0, 0.1);

    --grey-color: #333;
    --color-light: #fff;
    --color-dark: #1d2026;
    --color-light-grey: #f4f4f4;

}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

img{
    width: 100%;
}

section {
    padding: 2rem 9%;
}

/*section:nth-child(even){
    background: var(--icons-bg);
}.*/
.sub-heading {
    text-align: center;
    color: var(--primary);
    font-size: 2rem;
    padding-top: 5rem;
}

.heading {
    text-align: center;
    color: var(--dark);
    font-size: 3rem;
    padding-bottom: 2rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: var(--white);
    background: var(--dark);
    border-radius: .5rem;
    cursor: pointer;
    padding: .8rem 3rem;
}

.btn:hover {
    background: var(--primary);
    letter-spacing: 1rem;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--white);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    box-shadow: var(--box-shadow);
}


header .logo .my-logo{
    width: 80px;
}

header .navbar a {

    font-size: 1.5rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light);
}

header .navbar a.active,
header .navbar a:hover {
    color: var(--white);
    background: var(--primary);
}

header.icons {
    align-self: center;
}

header .icons i,
header .icons a {
    cursor: pointer;
    margin: left 0.5rem;
    height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: var(--dark);
    border-radius: 50%;
    background: var(--icons-bg);
}

header .icons i:hover,
header .icons a:hover {
    color: var(--white);
    background: var(--primary);
    transform: rotate(360deg);

}

header .icons #menubar {
    display: none;
}

#welcome {
    color: var(--white);
    font-size: 3rem;
}

#strategy {
    color: var(--color-light-grey);
    font-size: 3rem;
    background: var(--primary);
    padding: .5rem 1.5rem;
    z-index: 100;
}

.pc {
    background: var(--icons-bg);
}


.container .description {
    width: 100%;
    height: auto;
}

.container .description p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.container .description h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--dark);
}

.container .principle {
    width: 100%;
    height: auto;
}

.container .principle p {
    font-size: 1.5rem;
    font-weight: bolder;
}

.container .principle h1 {
    font-size: 2rem;
    font-weight: bolder;
    color: var(--dark);
}


/* Landing Section starts here */

.landing{
    background: var(--dark);
}

 .landing .showcase-area{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding: 2rem 9%;
}

 .intro-title h1{
    font-size: 3.5rem;
    color: var(--primary);
}

.text{
    font-size: 2.5rem;
    color: var(--color-light-grey);
}
.cta .button{
    display: inline-block;
    color: var(--white);
    padding: 0.9rem 0.9rem;
    background-color: var(--primary);
    border-radius: 10px;
    font-size: 1.5rem;
    transition: 0.4s;
}

.cta .button:hover{
    color: var(--primary);
    font-size: 1.5rem;
    background-color: var(--white);
    transform: scale(1.05);
    letter-spacing: 0.2rem;
}
    

.showcase-area .right .feature{
    width: 80%;
    transform: translate(40%, 20px);

}


/* Our Department Starts here*/

.our-department {
    background: var(--color-light-grey);
}

.department-main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px;
}

.department-main .department-banner img {
    width: 100%;
    object-fit: fill;
    padding: 2px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    background-color: var(--dark);
}

.department-main .department-content {
    margin-left: 30px;
    max-width: 90%;
    display: block;
}

.department-content h3 {
    font-size: 2rem;
    color: var(--primary);
}

.department-content p {
    font-size: 1.5rem;
}

/* Department Objective starts here */

.about-department {
    width: 100vw;
    height: auto;
    background: var(--white);
    position: relative;
    overflow: hidden;
}

.department-content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
}

.objective {
    display: grid;
    background: var(--color-light-grey);
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.objective .objective-icon {
    background: var(--primary);
    margin: 5px;
    border-radius: 10px;
}

.objective-data h4 {

    color: var(--primary);
    font-size: 1.2rem;
}

.objective-data p {
    font-size: 1.4rem;
}

/* Team starts here */

.team{
    background: var(--color-light-grey);
}

.department-members{

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.member{

    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);

}

.member .user-name{
    margin-top: 10px;
    font-size: 1.8rem;
}

.member .designation{
    margin-top: 5px;
    font-size: 1.5rem;
    color: var(--primary);
}

.member .bio{
    margin-top: 5px;
    font-size: 1.3rem;
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .2);
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    transition: opacity 0.5s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: var(--color-light);
    width: 900px;
    max-width: 100%;
    border-radius: 5px;
    padding: 30px 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    position: relative;
}

.gallery-main .gallery-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.gallery-data .gallery-item {
    padding: 40px;
    border-radius: 10px;
    background: var(--dark);
    margin: 10px;
}

.gallery-item li {

    list-style: none;
    font-size: 1.8rem;
}

.gallery-item li a {

    color: var(--white);
}

/* Stats start here */
.stats {
    background: var(--color-light-grey);
    height: auto;
}

.stats .container .main {
    position: absolute;
    top: 60px;
    width: 100%;
    min-height: calc(100vh - 60px);
    background: #F5F5F5;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, .08);
}

.mycards {
    width: 100%;
    padding: 35px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.mycards .cardi {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-light);
    border-radius: 10px;
}

.number {
    font-size: 3rem;
    font-weight: 500;
    color: var(--primary);
}

.cardi-name {
    color: #888;
    font-weight: 600;
    font-size: 1.2rem;
}

.icon-box i {
    font-size: 3rem;
    color: var(--primary);
}

.mycharts {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 0;
}

.chart {
    background: var(--color-light);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px 25px 0 rgba(0, 0, 0, .08);
    width: 100%;
}

/* PC starts here */

.pc .performance {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pc .performance .data {

    border-radius: 10px;
    background: var(--color-light);
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);

}

.pc .sub-heading {

    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px;

}

.performance .data p {

    font-size: 1.5rem;

}


/*QMS starts here*/

.qms .sub-heading {

    align-items: center;
    justify-content: center;
    margin: 30px;
    padding: 10px;

}

.principles {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.principles .data {
    border-radius: 10px;
    background: var(--color-light-grey);
    margin: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
}

.principles .data:hover {
    background: var(--primary);
    color: var(--color-light);
}


.principles .data p {

    font-size: 1.5rem;

}

/* Contacts Starts Here */
.contact {
    width: 100vw;
    height: auto;
    background: var(--color-light-grey);
}

.contact .contact-us {
    width: 80%;
    height: auto;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 10px;

}

.contact-details {
    background-color: var(--primary);
    font-size: 1.3rem;
    color: var(--white);
    padding: 30px;
    border-radius: 10px;
}

.contact-details h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact-data {
    display: grid;
    grid-template-columns: 1fr 8fr;
    justify-content: center;
    align-items: center;
}

.contact-data i {
    font-size: 1.8rem;
    color: var(--dark);
}


.contact-data p {
    font-size: 1.5rem;
}

.social-media {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 2.2rem;
    margin-top: 25px;
}

.social-media i {
    color: var(--dark);
}

.contact-location {

    background-color: var(--white);
    font-size: 1.3rem;
    letter-spacing: 0.3;
    padding: 30px;
    border-radius: 10px;

}

.contact-location h3 {
    color: var(--primary);
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.contact-location h4 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.contact-location p {
    font-size: 1.5rem;
}

/* Styling the close div*/
.close {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 3.5rem;
    transform: rotate(45deg);
    cursor: pointer;
}

.statistics {
    background: var(--primary);
    padding: 40px;
}

.statistics .sub-heading {
    color: var(--color-light-grey);
}

.statistics .stats .content h1 {
    align-items: center;
    justify-items: center;
}

.container {
    max-width: 100vw;
    margin: 0 auto;
    overflow: auto;
    padding: 0 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-5 {
    grid-template-columns: repeat(5, 1fr);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Documents start here */
.documents .documents-main {
    width: 100%;
    margin: auto;
    background: var(--dark);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    justify-items: center;

}

.documents-main .documents-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px;
}

.qms-docs h3 {
    color: var(--color-light-grey);
    padding: 5px;
    font-size: 1.8rem;
}

.qms-docs ul {
    list-style: none;
    padding: 5px;
}

.qms-docs ul li {
    margin-top: 10px;
}

.qms-docs ul li a {
    font-size: 1.5rem;
    color: var(--white);
    margin-top: 50px;
}

.other-docs h3 {

    color: var(--color-light-grey);
    padding: 5px;
    font-size: 1.8rem;

}

.other-docs ul {
    list-style: none;
    padding: 5px;
}

.other-docs ul li {
    margin-top: 10px;
}


.other-docs ul li a {
    font-size: 1.5rem;
    color: var(--white);
}

.footer {
    width: 100%;
    background: var(--primary);
    color: var(--color-light);
}

.footer .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer a {
    color: var(--color-light);
    font-size: 1.5rem;

}

.footer h1 {
    font-size: 1.9rem;
    text-transform: none;
}

.footer p {
    font-size: 1.5rem;
    text-transform: none;
}

/* media querries*/

@media(max-width:991px) {
    html {
        font-size: 45%;
    }

    header {
        padding: 1rem 2rem;
    }

    header .logo {
        font-size: 1.5rem;
    }


    .about .about-slider .slide .image img {

        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 5px;
    }
}

@media(max-width:768px) {
    header .icons #menubar {
        display: inline-block;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: var(--white);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }


    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background: var(--icons-bg);
    }


    .introduction {
        width: 100%;
        height: auto;
    }

    .hero-image {
        width: fit-content;
        height: fit-content;
    }

}

@media(max-width:991px) {
    html {
        font-size: 40%;
    }

    header {
        padding: 1rem 2rem;
    }

    section {
        padding: 2rem;
    }
}